/* Chat Popup Styling */
.chat-btn {
    position: fixed; /* it will always stay at that position on the page */
    right: 14px;
    bottom: 30px;
    cursor: pointer;
    background-color: blue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 22px;
    z-index: 2; /* it will always stay on top of everything*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chat Popup by default */
.chat-btn .close {
    display: none;
}

/* Chat Popup When checked: */
#check:checked ~ .chat-btn i{
    display: block;
}
#check:checked ~ .chat-btn .comment{
    display: none;
}
#check{
    display: none !important;
}

/* ChatBox Styling*/
#check:checked ~ .chat-wrapper{
    opacity: 1;
}

.chat-wrapper{
    opacity: 0; /* By default; Cannot see chat Header */
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 2;
    width: 300px;
    transition: all 0.4s;
    background-color: white;
    border-radius: 5px;
}

.chat-header{
    background-color: blue;
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px; 
    color: white;
}

.chat-form {
    padding: 10px;
}

.chat-form input,
.chat-form textarea,
.chat-form button {
    margin-bottom: 10px;
}

.chat-form textarea{
    resize: none;
}